.stock {
  &__list {
    gap: 16px;
    overflow: hidden;
    padding-bottom: 60px;
    position: relative;
    margin: 15px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1035px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      .col-4 {
        width: 50%;
      }
    }
    @media (max-width: 690px) {
      .col-4 {
        width: 100%;
        align-items: center;
      }
      img {
        max-width: 100%;
      }
    }
    @media (max-width: 330px) {
      .col-4 {
        width: 100%;
        align-items: center;
      }
      img {
        max-width: 100%;
      }
    }
  }
  &__item {
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    border-radius: 10px;
    min-width: 325px;
    cursor: pointer;

    &:first-child {
      margin-left: 16px;
    }

    transition: 0.3s all ease;
    &:hover {
      box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);
    }

    @media (max-width: 690px) {
      min-width: 310px;
    }
  }

  &__image {
    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }
  }

  &__description {
    padding: 20px 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #ffffff;
  }

  &__weight {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #cfcfcf;
    margin-top: 7px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  &__price {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  &__data {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6fa076;
  }
  &__btn {
    display: flex;
    align-items: center;
    &:hover svg {
      transform: translateX(5px);
    }
    svg {
      transition: 0.3s all ease;
      margin-left: 12px;
    }
  }
}
hr {
  margin: -20px 0px 40px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: none;
}
.col-4 {
  width: 33%;
  padding-bottom: 50px;
}
